# Ignore node_modules in both front and back folders
full-version/node_modules/
server/node_modules/

# Ignore environment variables
full-version/.env
server/.env

# Ignore build/output directories
full-version/dist/
full-version/.next/
full-version/out/
server/build/

# Ignore logs
front/*.log
server/*.log
